:root {
  --clr-primary-5: #49a6e9;
  --transition: all 0.3s linear;
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --spacing: 0.25rem;
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-white: #fff;
  --clr-black: #222;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

/*
=============== 
Navbar
===============
*/
nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.logo {
  height: 60px;
}

img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  cursor: pointer;
  transition: var(--transition);
  background: transparent;
  border: none;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
ul {
  list-style-type: none;
}
li:hover {
  background: var(--clr-primary-7);
}

a {
  text-decoration: none;
}
.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.links a {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.show-links {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  li:hover {
    background: var(--clr-primary-7);
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    color: var(--clr-primary-5);
  }
  .social-icons {
    display: flex;
  }
  li:hover {
    background: transparent;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons a :hover {
    color: var(--clr-primary-7);
  }
}
